/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 50px rgba(161, 134, 127, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(161, 134, 127, 0.3);
}
